# IntelliJ IDEA
/.idea/
# Eclipse
/.project
/.classpath
# Visual Studio
*.user
*.sln.user
# NetBeans
/.nbproject
#Visual Studio Code  
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
# Local History for Visual Studio Code
.history/
# Built Visual Studio Code Extensions
*.vsix
