# Flask and core dependencies
Flask==3.0.0
flask-cors==4.0.0
python-dotenv==1.0.0

# MongoDB and ODM
flask-mongoengine==1.0.0
mongoengine==0.27.0
pymongo==4.6.1

# Authentication and Security
bcrypt==4.0.1
PyJWT==2.8.0
flask-jwt-extended==4.6.0

# API and Data Validation
marshmallow==3.20.1
email-validator==2.1.0.post1